__pycache__


data/english/sup/nli_for_simcse.csv
data/english/unsup/wiki1m_for_simcse.txt
data/english/STS-B/original


outputs

# small sub-datasets generated for testing only
# wiki1k.txt
# wiki50k.txt