__pycache__


data/chinese
data/english
data/hindi

# ignore all checkpoints for all languages & models & modes
outputs/**/checkpoints/

# ignore all eval.log for all languages & models & modes
outputs/**/eval/eval.log